body
{
    background-color: rgb(204, 204, 204);
}
table 

{ 
    margin: 1px 1px 30px 0px;
    border: 4px solid #000; 
    font-family: Arial, Helvetica, sans-serif;
} 

#prima_riga {
    
    background-color: rgb(20, 88, 236);
}
 
#seconda_riga {
    background-color: rgb(54, 229, 241);
}
#terza_riga {
    background-color: rgb(42, 20, 236);
}
 
#quarta_riga {
    background-color: rgb(54, 229, 241);
}
#quinta_riga {
    background-color: rgb(42, 20, 236);
}
#sesta_riga {
    
    background-color: rgb(54, 229, 241);
   
}

#tab2 { 
     border: 4px solid rgb(0, 0, 0);
}

#primariga {
    background-color: rgb(54, 229, 241);
}
 
#secondariga {
    background-color: rgb(255, 231, 20);
}
#terzariga {
    background-color: rgb(54, 229, 241);
}
 
#quartariga {
    background-color: rgb(255, 231, 20);
}
#quintariga {
    background-color: rgb(54, 229, 241);
}
#sestariga {
    background-color: rgb(255, 231, 20);
}
#settimariga {
    background-color: rgb(54, 229, 241);
}

